#signal {
    height: 36px;
    width: 100%;
    background-color: #313131;

    display: flex;
    justify-content: space-between;

    font-family: 微软雅黑;
    font-size: 12px;
    color: white;
}



#signal-left {
    height: 36px;
    flex: 1;

    display: flex;

    align-items: center;

}

#signal-left div{
    margin: 0px 4px 0px 4px;
}

#signal-area {
    display: flex;
    align-items: flex-end;
}

#signal-area div {

    width: 4px;

    margin-left: 1px;
    border-radius: 1px;
}
#signal-area div:nth-child(1) {
    height: 5px;
}
#signal-area div:nth-child(2) {
    height: 9px;
}
#signal-area div:nth-child(3) {
    height: 12px;
}
#signal-area div:nth-child(4) {
    height: 16px;
}

.signal-ok {
    background-color: white;
}
.signal-lose {
    background-color: gray;
}




#signal-center {
    height: 36px;
    width: 50px;
}

#signal-right {
    height: 36px;
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#battery {
    height: 16px;
    width: 50px;
    margin-right: 4px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#battery-body {
    height: 12px;
    width: 28px;
    border: 1px solid white;
}
#battery-head {
    height: 6px;
    width: 2px;
    background-color: white;
    border-radius: 0px 1px 1px 0px;
}

#battery-core {
    height: 10px;
    width: 20px;
    margin: 1px;

    animation: charge 5s linear infinite;
}


@keyframes charge {
    0% {
        background-color: crimson;
        width: 0px;
    }
    35%{
        background-color: yellow;
        width: 6px;
    }
    70%{
        background-color: yellow;
        width: 18px;
    }
    100%{
        background-color: lawngreen;
        width: 26px;
    }
}